
<div class="content-wrap scratchHeight">
  <div id="content" class="content" role="main">
    <pa-bread-crumb></pa-bread-crumb>
    <h1 class="page-title">Manage
      <span class="fw-semi-bold">Units / Applications</span>
    </h1>
    <div class="widget">
      <section>
        <div class="verticalcolumn">
          <div class="btn-group company-select" style="margin-right: 10px" *ngIf="userRole =='Client Admin'">
            <!-- <select2 [data]="companyList" [width]='120' (valueChanged)="onCompanySelect($event)">
            </select2> -->
            <ngx-select-dropdown
              class="ngx-select-dropdown"
              (change)="onCompanySelect($event)"
              tabindex="0"
              [multiple]="false"
              [config] = "config"
              [(ngModel)] = "companyList[0]"
              [options]="companyList">
            </ngx-select-dropdown>
          </div>
          <div class="btn-group location-select" style="margin-right: 10px" *ngIf="userRole =='Client Admin'">
            <!-- <select2 [data]="locationList" [width]='100' (valueChanged)="onLocationSelect($event)">
            </select2> -->
            <ngx-select-dropdown
              class="ngx-select-dropdown"
              (searchChange)="onLocationSelect($event)"
              tabindex="0"
              [multiple]="false"
              [config] = "config"
              [(ngModel)] = "locationList[0]"
              [options]="locationList">
            </ngx-select-dropdown>
          </div>
          <div class="btn-group project-select" style="margin-right: 10px" *ngIf="userRole =='Client Admin'">
            <!-- <select2 [data]="projectList" [width]='180' (valueChanged)="onProjectSelect($event)">
            </select2> -->
            <ngx-select-dropdown
              class="ngx-select-dropdown"
              (searchChange)="onProjectSelect($event)"
              tabindex="0"
              [multiple]="false"
              [config] = "config"
              [(ngModel)] = "projectList[0]"
              [options]="projectList">
            </ngx-select-dropdown>
          </div>
          <div class="btn-group select_unit" style="margin-right: 10px" *ngIf="userRole =='Client Admin'">
            <!-- <select2 [data]="unitNoList" [width]='120' (valueChanged)="onUnitSelect($event)">
            </select2> -->
            <ngx-select-dropdown
              class="ngx-select-dropdown"
              (searchChange)="onUnitSelect($event)"
              tabindex="0"
              [multiple]="false"
              [config] = "config"
              [(ngModel)] = "unitNoList[0]"
              [options]="unitNoList">
            </ngx-select-dropdown>
          </div>
        </div>
        <div class="mt">
          <div>
            <ngx-datatable
              class="ngx-custom-datatable"
              [rows]="units"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="63"
              [externalPaging]="true"
              [count]="count"
              [scrollbarH]="true"
              [scrollbarV]="false"
              (page)="getPageData($event)"
              [limit]="10">
              <ngx-datatable-column name="unitNo">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold" (click)="sortTableBy('unitNo');">UNIT</span>
                </ng-template>
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <!-- <a (click)="goTo($event, row)" href=""><span class="unitNumber"><small>{{value}}</small></span></a> -->
                  <a [routerLink]="['/pinga/client/units/unit-detail/', row.buyerID]" href=""><span class="unitNumber"><small>{{value}}</small></span></a>                  
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="projectName">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold" (click)="sortTableBy('projectName');">PROJECT</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span ><small>{{value}}</small></span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="towerName">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold" (click)="sortTableBy('towerName');">TOWER</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span ><small>{{value}}</small></span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="applicantName" >
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold" (click)="sortTableBy('applicantName');">APPLICATION</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span ><small>{{value}}</small></span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="contanctinfo">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">ACTION</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <a [routerLink]="['/pinga/client/buyers/buyer/buyer-detail']" (click)="sendBuyerID($event, row.appLoginId)"></a> -->
                  <a class="icon-btn" *ngIf="userRole =='Client Admin'" [routerLink]="['/pinga/client/units/invoice-list/', row.buyerID]" ><span class="fa fa-exclamation-circle"></span>&nbsp;<small>Invoices</small><br></a>
                  <a class="icon-btn" *ngIf="userRole =='Client Admin'" [routerLink]="['/pinga/client/units/receipt-list/', row.buyerID]"><span class="glyphicon glyphicon-list"></span>&nbsp;<small>Receipts</small><br></a>
                  <a class="icon-btn" *ngIf="userRole =='Buyer'" [routerLink]="['/pinga/buyer/units/invoice-list/', row.buyerID]" ><span class="fa fa-exclamation-circle"></span>&nbsp;<small>Invoices</small><br></a>
                  <a class="icon-btn" *ngIf="userRole =='Buyer'" [routerLink]="['/pinga/buyer/units/receipt-list/', row.buyerID]"><span class="glyphicon glyphicon-list"></span>&nbsp;<small>Receipts</small><br></a>
                </ng-template>                
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selected"
                  let-curPage="curPage"
                  let-offset="offset"                    
                >
                <!-- <div style="padding: 5px 10px">
                  <div>
                    Showing&nbsp;&nbsp;&nbsp;{{(curPage - 1) == 0? 1 : (curPage - 1) * 10}} - {{curPage * 10}}&nbsp;&nbsp;of&nbsp;&nbsp;{{ rowCount }}&nbsp;entries
                  </div>
                </div> -->

                <div class="page-count">
                  Showing&nbsp;&nbsp;&nbsp;{{rowCount > 0 ? (curentPage - 1) * 10 + 1 : 0}} - {{rowCount > 0 ? curentPage * 10 > rowCount ? rowCount : curentPage * 10 : 0}}&nbsp;&nbsp;of&nbsp;&nbsp;{{ rowCount > 0 ? rowCount : 0 }}&nbsp;entries
                </div>
                <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'"
                  [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)"
                  (change)="getPageData($event)">
                </datatable-pager>

                  <!-- <div>
                    Showing {{(curPage - 1) == 0? 1 : (curPage - 1) * 10}} - {{curPage * 10}} of {{ rowCount }}
                    Rows: {{ rowCount }} | Size: {{ pageSize }} | Current:
                    {{ curPage }} | Offset: {{ offset }}                      
                  </div> -->
                </ng-template>                  
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<router-outlet></router-outlet>