<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row">
        <div class="col-xl-4 col-md-6 col-xs-10 col-xl-offset-4 col-md-offset-3 col-xs-offset-1">
            <h5 class="widget-login-logo animated fadeInUp">
                <i class="fa fa-circle text-gray"></i>
                Pinga CRM
                <i class="fa fa-circle text-warning"></i>
            </h5>
            <section class="widget widget-login animated fadeInUp">
                <header>
                    <h3 class="text-xs-center">Forgot Username or Password</h3>
                </header>
                <div class="widget-body">
                    <p class="widget-login-info">
                        Please follow these simple steps to reset your account:
                    </p>
                    <ul class="widget-login-info" style="list-style-type: decimal">
                        <li>Enter your Username or Email Address</li>
                        <li>Wait for recovery email</li>
                        <li>Follow instructions in the email</li>
                    </ul>
                    <form #f="ngForm" class="login-form mt-lg" (ngSubmit)="onSubmit(f)" novalidate>
                        <div class="form-group">
                            <input 
                            [ngClass]="{'form-control': true, 'notVlide': validState}"
                            id="user-email" 
                            type="text"
                            placeholder="Username or Email Address"
                            name="userName" 
                            ngModel 
                            required 
                            #userName="ngModel" 
                            maxlength="100"
                            >
                            <div class="error-msg" *ngIf="submitted || userName.touched && !userName.valid">
                                <span class="help-block">Enter your Username or Email Address</span>
                            </div>
                        </div>
                        <div class="g-recaptcha" data-sitekey="6Lcg5jUUAAAAAPGTsyWPY8tWu4vJAiIacWqVtI9V"></div>
                        <div class="clearfix">
                            <div class="btn-toolbar">
                                <button class="btn btn-inverse btn-sm btn-special display-block m-t-1 m-b-1" id="success-info">Submit</button>
                                <a class="btn btn-inverse btn-sm btn-inverse display-block" [routerLink]="['login']">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
  </main>
  </div>
  <ul class="messenger messenger-fixed messenger-on-bottom messenger-on-right messenger-theme-air" [@animateOnAction]="bindVar"
  style="opacity: 0;" (@animateOnAction.done)="animEnd($event)">
  <li class="messenger-message-slot messenger-shown messenger-first messenger-last">
    <div [ngClass]="(classStatus=='fail')?'messenger-message message alert error message-error alert-error messenger--retry-soon':'messenger-message message alert success message-success alert-success messenger-will-hide-after'">
      <div *ngIf="forgetPassStatus == 'success'" class="messenger-message-inner">Email Sent successfully please check your inbox.</div>
      <div *ngIf="forgetPassStatus == 'fail'" class="messenger-message-inner">{{failureResponse}}</div>
    </div>
  </li>
</ul>