<section class="widget user-profile">
  <div class="widget-body">
      <div class="widget-top-overflow text-white">
          <div class="height-250 overflow-hidden">
              <img class="img-fluid" src="assets/img/19.jpg">
          </div>
      </div>
      <div class="row">
          <div class="col-md-5 text-xs-center">
              <div class="post-user post-user-profile">
                  <span class="thumb-xlg">
                      <img class="img-circle" src="assets/img/male-avatar.png" alt="...">
                  </span>
                  <h5 class="fw-normal">{{firstName}}<span class="fw-semi-bold">{{lastName}}</span></h5>
                  <p>{{groupName}}</p>
              </div>
          </div>
          <div class="col-md-7">
              <div class="post-user post-user-profile" style="margin-top: 0">
                    <ul class="contacts">
                        <li class="editable_detail"><i class="fa fa-phone fa-fw mr-xs"></i><a href="javascript:void(0)" id="work_phone">{{workPhone}}</a></li>
                        <li class="editable_detail"><i class="fa fa-mobile-phone fa-fw mr-xs"></i><a href="javascript:void(0)" id="mobile_phone">{{mobilePhone}}</a></li>
                        <li class="editable_detail"><i class="fa fa-envelope fa-fw mr-xs"></i><a href="javascript:void(0)" id="email">{{email}}</a></li>
                    </ul>                
              </div>
          </div>
      </div>
  </div>
</section>

