<div class="content-wrap">
  <div id="content" class="content" role="main">
      <pa-bread-crumb></pa-bread-crumb>
    <h1 class="page-title">
      <span class="fw-semi-bold">Receipts</span> List</h1>
    <section class="widget">
      <div class="widget-body">
        <div class="btn-group select_unit" style="margin-right: 10px">
          <!-- <select [data]="unitNoList" [width]='100' (valueChanged)="changed($event)" [value]="startValue">
          </select> -->
          <ngx-select-dropdown
            class="ngx-select-dropdown"
            (change)="changed($event)"            
            tabindex="0"
            [multiple]="false"
            [config] = "config"
            [options]="unitNoList">
          </ngx-select-dropdown>
        </div>
        <div class="mt">
          <div>
            <ngx-datatable
              class="ngx-custom-datatable"
              [rows]="receiptList"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="53"
              [externalPaging]="true"
              [count]="count"
              [scrollbarH]="true"
              [scrollbarV]="false"
              [limit]="10">
              <ngx-datatable-column name="receiptNo" [width]="100">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">RECEIPT NO.</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{value}}*
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="receiptDate" [width]="100">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">RECEIPT DATE</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span type="date">{{ value | date }}*</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="type" [width]="70">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">TYPE</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span >{{value}}</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="paymentMode">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">PAYMENT MODE</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span >{{value}}</span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="instrumentNo">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">INSTRUMENT NO.</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span >{{value}}</span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="bank">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">BANK NAME</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span >{{value}}</span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="amount" [width]="100">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">AMOUNT</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span class="fw-semi-bold">र&nbsp;{{value}}</span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="status" [width]="100">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">STATUS</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <span *ngIf="value == 'InProcess'" class="fw-semi-bold label label-pill label-warning">{{value}}</span><br>
                  <span *ngIf="value == 'Paid'" class="fw-semi-bold label label-pill label-warning">{{value}}</span><br>
                  <!-- <a href="#" >{{value}}</a> -->
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="receiptID" [width]="80">
                <ng-template ngx-datatable-header-template>
                  <span class="fw-semi-bold">ACTION</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- (click)="openPrePrintModal($event, row, printLayoutNotDefinedTemplate)" -->
                  <button class="btn btn-primary hidden-print"><span  aria-hidden="true" class="glyphicon glyphicon-print"></span></button>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template
                  ngx-datatable-footer-template
                  let-rowCount="rowCount"
                  let-pageSize="pageSize"
                  let-selectedCount="selected"
                  let-curPage="curPage"
                  let-offset="offset"                    
                >
                <!-- <div style="padding: 5px 10px">
                  <div>
                    Showing&nbsp;&nbsp;&nbsp;{{(curPage - 1) == 0? 1 : (curPage - 1) * 10}} - {{curPage * 10}}&nbsp;&nbsp;of&nbsp;&nbsp;{{ rowCount }}&nbsp;entries
                  </div>
                </div> -->

                <div class="page-count">
                  Showing&nbsp;&nbsp;&nbsp;{{(curentPage - 1) * 10 + 1}} - {{curentPage * 10 > rowCount ? rowCount : curentPage * 10}}&nbsp;&nbsp;of&nbsp;&nbsp;{{ rowCount }}&nbsp;entries
                </div>
                <datatable-pager
                  [pagerLeftArrowIcon]="'datatable-icon-left'"
                  [pagerRightArrowIcon]="'datatable-icon-right'"
                  [pagerPreviousIcon]="'datatable-icon-prev'"
                  [pagerNextIcon]="'datatable-icon-skip'"
                  [page]="curPage"
                  [size]="pageSize"
                  [count]="rowCount"
                  [hidden]="!((rowCount / pageSize) > 1)"
                  (change)="getPageData($event)">
                </datatable-pager>

                  <!-- <div>
                    Showing {{(curPage - 1) == 0? 1 : (curPage - 1) * 10}} - {{curPage * 10}} of {{ rowCount }}
                    Rows: {{ rowCount }} | Size: {{ pageSize }} | Current:
                    {{ curPage }} | Offset: {{ offset }}                      
                  </div> -->
                </ng-template>                  
              </ngx-datatable-footer>                
            </ngx-datatable>              
          </div>     
          <p class="mt-5">* This is the payment transaction ID and date. Actual Receipt No. will be displayed once bank reconciliation for the payment is complete. This may take up to 3 days.”</p>
        </div>
      </div>
    </section>
  </div>
</div>
