<section class="widget" style="min-height: 425px">
  <header style="margin-top: 10px">
      <h5 class="text-xs-center fw-bold">Reset Password</h5>
      <p class="text-xs-center">Please enter the current and new passwords.</p>
  </header>
  <br/>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
    <div class="widget-body">
        <div class="form-group row">
            <div class="col-lg-offset-1 col-lg-10">
                <div class="form-group">
                    <input type="password" [ngClass]="{'form-control':true,'inputNotValid':erStatus}" placeholder="Existing Password" formControlName="existingPassword"  name="existingPassword">
                    <div *ngIf="submitted && !changePasswordForm.controls['existingPassword'].valid || changePasswordForm.controls['existingPassword'].touched && !changePasswordForm.controls['existingPassword'].valid">
                        <span class="help-block" *ngIf="changePasswordForm.controls['existingPassword'].hasError('required') ">Existing password is required</span>
                      </div>
                </div>
                <div class="form-group">
                    <input type="password" [ngClass]="{'form-control':true,'inputNotValid':erStatus}" placeholder="New Password" formControlName="newPassword" name="newPassword">
                    <div *ngIf="submitted && !changePasswordForm.controls['newPassword'].valid || changePasswordForm.controls['newPassword'].touched && !changePasswordForm.controls['newPassword'].valid">
                            <span class="help-block" *ngIf="changePasswordForm.controls['newPassword'].hasError('required') ">New password is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" [ngClass]="{'form-control':true,'inputNotValid':erStatus}" placeholder="Confirm New Password" formControlName="confirmNewPassword" name="confirmNewPassword" (blur)="matchPassword(changePasswordForm.value)">
                    <div *ngIf="submitted && !changePasswordForm.controls['confirmNewPassword'].valid ||  changePasswordForm.controls['confirmNewPassword'].touched && !changePasswordForm.controls['confirmNewPassword'].valid">
                            <span class="help-block" *ngIf="changePasswordForm.controls['confirmNewPassword'].hasError('required') ">Confirm password is required</span>
                    </div>
                </div>
                <div *ngIf="submitted && passwordNotMatch || passwordNotMatch">
                        <span class="help-block">New password and Confirm password does not match</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-special" id="success-info">Save Changes</button>
                <button type="reset" class="btn btn-inverse pull-xs-right">Reset</button>
            </div>
        </div>
    </div>
  </form>
</section>
<ul class="messenger messenger-fixed messenger-on-bottom messenger-on-right messenger-theme-air" [@animateOnAction]="bindVar"
  style="opacity: 0;" (@animateOnAction.done)="animEnd($event)">
  <li class="messenger-message-slot messenger-shown messenger-first messenger-last">
    <div [ngClass]="(classStatus=='fail')?'messenger-message message alert error message-error alert-error messenger--retry-soon':'messenger-message message alert success message-success alert-success messenger-will-hide-after'">
      <div *ngIf="resetPassStatus == 'success'" class="messenger-message-inner">Password changed successfully.</div>
      <div *ngIf="resetPassStatus == 'fail'" class="messenger-message-inner">{{failureResponse}} </div>
    </div>
  </li>
</ul>